.popup-menu-icon {
    margin-right: 8px;
}

.liveradio-radio-logo {
    margin-right: 6px;
}

.liveradio-controls-icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 0;
    margin: 0 4px;
}
