.popup-menu StScrollView {
    max-height: 450px; /* Backup limit */
}

.popup-menu StScrollBar {
    padding: 0;
}

.popup-menu StScrollView StScrollBar StButton#vhandle {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

.popup-menu-icon {
    margin-right: 8px;
}

.liveradio-radio-logo {
    margin-right: 6px;
}

.liveradio-controls-icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 0;
    margin: 0 4px;
}
